# Copie este arquivo para ".env" e ajuste os valores conforme necessário.
# Estas são as mesmas credenciais usadas no docker-compose.yml.

DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/graphql_db?schema=public"
PORT=4000
